
body {
  background: #060e1b;
  overflow: hidden;
}

.header{
	position: fixed;
	color: white;
}
h1{
	text-align: center;
	margin-left: 535px;
}
.menu, li{
	margin-left: 550px;
	margin-top: -20px;
 	float: left;
	position: relative;
}

.learn, .play{
	background-color: #33708f;
 	border:2px solid white;
	padding: 8px;
	background-color: purple;
	font-size:18px;
  	color:white;
  	position:absolute;
  	left:550px;
  	cursor: pointer;
}
.play{
	position: absolute;
	left: 700px;
}
.sun{
	position: absolute;
	top: -40px;
	left: -580px;
	cursor: pointer;
}
.mercury{
	position: absolute;
	top: 350px;
	left: 212px;
	cursor: pointer;
}
.venus{
	position: absolute;
	top: 335px;
	left: 276px;
	cursor: pointer;
}
.earth{
	position: absolute;
	top: 332px;
	left: 359px;
	cursor: pointer;
}
.mars{
	position: absolute;
	top: 345px;
	left: 448px;
	cursor: pointer;
}
.jupiter{
	position: absolute;
	top: 230px;
	left: 550px;
	cursor: pointer;
}
.saturn{
	position: absolute;
	top: 245px;
	left: 800px;
	cursor: pointer;
}
.uranus{
	position: absolute;
	top: 280px;
	left: 1140px;
	cursor: pointer;
}
.neptune{
	position: absolute;
	top: 318px;
	left: 1250px;
	cursor: pointer;
}
